<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pet Shop</title>
    <link rel="icon" href="/icon.png">
  </head>
  <body>
    <div class="">


    <h1>Welcome to our Petshop</h1>
    <% for (let pet of pets) {%>
      <li><a href="/<%= pet._id %>"><%= pet.name %></a></li>
    <% } %>
</div>

<a href="/new">Add New</a>
  </body>
</html>
