<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Employee</title>
    <link rel="icon" href="/human-resources.png">
  </head>
  <body>
    <div class="">
      <form class="" action="/:id" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="Employee's Name">
        <br>
        <label for="breed">Position:</label>
        <input type="text" name="position" id="position">
        <br>
        <label for="gender">Gender:</label>
        <select name="gender" id="gender">
          <option value="Female">Female</option>
          <option value="Male">Male</option>
        </select>
        <br>
        <label for="age">Age:</label>
        <input type="number" name="age" id="age">
        <br>
        <label for="age">Years Employed:</label>
        <input type="number" name="yearsEmployed" id="yearsEmployed">
        <br>
        <label for="category">Select Category</label>
        <select name="category" id="category">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
        </select>
        <br>
        <label for="salary">Salary:</label>
        <input type="number" name="salary" id="salary">

        <button>Add</button>
      </form>
    </div>

    <a href="/">Cancel</a>
  </body>
</html>
